body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes shiningStar {
  0%{
    
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}

@keyframes meteolite {
  from {
    height: 0%;
  }

  to{
    height: 100%;
  }
}
